span.kaiti {
    font-family: "ZY-KAITI", "方正新楷体";
}
span.fangsong {
    font-family: "ZY-FANGSONG", "方正仿宋";
}
span.zhongsong {
    font-family: "ZY-XIAOBIAOSONG","方正小标宋";
}
span.zhonghei {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
}
span.lantinghei {
    font-family: "ZY-HEITI","方正悠黑";
}
span.xiaolishu {
    font-family: "ZY-LIBIAN", "方正隶变";
}
span.shusongerjian {
    font-family: "ZY-SONGTI", "方正新书宋";
}
span.lusitana {
    font-family: "ZY-SERIF", "Noto Serif";
}
span.questrial {
    font-family: "ZY-SANSSERIF", "Questrial";
}
span.quattrocento {
    font-family: "ZY-SANSSERIF-B", "Quattrocento Sans";
}
span.niconne {
    font-family: "ZY-HANDWRITTEN", "Niconne";
}
span.content-word-small {
    font-size: 0.7em;
}
span.number {
    border: 1px solid #e94a37;
}
span.content-word-zhonghei {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    color: #3fadc8;
}
span.content-word-light {
    color: #ffffff;
    background-color: #e94a37;
    padding: 0.1em 0.2em;
}
h1.text-title-1 {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 26px;
    line-height: 1.2em;
    color: #137daf;
    font-weight: normal;
    margin-top: 30%;
    margin-bottom: 2em;
    text-align: justify;
}
h1.text-title-1-c {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 26px;
    line-height: 1.2em;
    color: #137daf;
    font-weight: normal;
    margin-top: 30%;
    margin-bottom: 2em;
    text-align: center;
}
h1.text-title-1-r {
    font-family: "ZY-XIAOBIAOSONG","方正小标宋";
    font-size: 26px;
    line-height: 1.2em;
    color: #137daf;
    font-weight: normal;
    margin-top: 30%;
    margin-bottom: 2em;
    text-align: right;
}
h2.text-title-2 {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 22px;
    line-height: 1.2em;
    color: #137daf;
    font-weight: normal;
    margin-top: 20%;
    margin-bottom: 1.3em;
    text-align: justify;
}
h2.text-title-2-c {
    font-family: "ZY-XIAOBIAOSONG","方正小标宋";
    font-size: 22px;
    line-height: 1.2em;
    color: #137daf;
    font-weight: normal;
    margin-top: 20%;
    margin-bottom: 1.3em;
    text-align: center;
}
h3.text-title-3 {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 20px;
    line-height: 1.2em;
    color: #e94a37;
    font-weight: normal;
    margin-top: 20%;
    margin-bottom: 1em;
    text-align: justify;
}
h3.text-title-3-c {
    font-family: "ZY-XIAOBIAOSONG","方正小标宋";
    font-size: 20px;
    line-height: 1.2em;
    color: #e94a37;
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
    text-align: center;
}
h4.text-title-4 {
    font-family: "ZY-XIAOBIAOSONG","方正小标宋";
    font-size: 18px;
    line-height: 1.2em;
    color: #e94a37;
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: justify;
}
h6.poem-title {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 16px;
    line-height: 1.2em;
    color: #e94a37;
    font-weight: normal;
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    text-align: center;
    background-color: #d9d9d9;
}
h6.title-zhonghei {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 16px;
    line-height: 1.2em;
    color: #e94a37;
    font-weight: normal;
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    text-align: justify;
}
h6.title-zhongsong {
    font-family: "ZY-XIAOBIAOSONG","方正小标宋";
    font-size: 16px;
    line-height: 1.2em;
    color: #e94a37;
    font-weight: normal;
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    text-align: justify;
}
h6.title-lantinghei {
    font-family: "ZY-HEITI","方正悠黑";
    font-size: 16px;
    line-height: 1.2em;
    color: #137daf;
    font-weight: normal;
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    text-align: justify;
}
p.bodytext {
    font-family: "ZY-ZW-HEITI","方正悠黑";
    zy-text-type: main-body;
    font-size: 16px;
    text-indent: 2em;
    margin-top: 0;
    text-align: justify;
}
p.bodytext-margin {
    font-family: "ZY-ZW-HEITI","方正悠黑";
    zy-text-type: main-body;
    font-size: 16px;
    text-indent: 2em;
    margin-top: 2em;
    text-align: justify;
}
p.eng-bodytext {
    font-family: "ZY-SERIF", "Noto Serif";
    zy-text-type: main-body;
    font-size: 16px;
    text-indent: 0em;
    margin-top: 0em;
}
pre.code-bodytext {
    font-family: "ZY-SANSSERIF", "Questrial";
    line-height: 1.2em;
    font-size: 16px;
    margin-top: 0em;
}
p.preface-text {
    font-family: "ZY-FANGSONG", "方正仿宋";
    font-size: 16px;
    text-indent: 2em;
}
p.bodytext-zh {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 16px;
    text-indent: 2em;
}
p.bodytext-lt {
    font-family: "ZY-HEITI","方正悠黑";
    font-size: 16px;
    text-indent: 2em;
}
p.bodytext-kt-np {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    text-indent: 2em;
    margin: 0.3em auto;
}
p.bodytext-kt-first-np {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    text-indent: 2em;
    margin-top: 1.3em;
    margin-bottom: 0.3em;
}
p.bodytext-kt-last-np {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    text-indent: 2em;
    margin-top: 0.3em;
    margin-bottom: 1.3em;
}
p.bodytext-kt-only-np {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    text-indent: 2em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
p.bodytext-kt-margin {
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    text-indent: 2em;
}
p.poem-left {
    padding-left: 2em;
    margin: 0;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
p.poem-left-first {
    padding-left: 2em;
    margin-bottom: 0;
    margin-top: 1.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
p.poem-left-last {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 1.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
p.poem-left-only {
    padding-left: 2em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
p.poem-left-margin {
    padding-left: 2em;
    margin-bottom: 0;
    margin-top: 1em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
p.poem-center {
    margin: 0;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
p.poem-center-first {
    margin-bottom: 0;
    margin-top: 1.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
p.poem-center-last {
    margin-top: 0;
    margin-bottom: 1.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
p.poem-center-only {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
p.poem-center-margin {
    margin-bottom: 0;
    margin-top: 1em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
p.inscribed-right {
    margin-bottom: 1.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}
p.inscribed-left {
    margin-top: 1.3em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}
img.zhangyue-img {
    width: 100%;
}
img.zhangyue-img-h100 {
    height: 100%;
}
img.zhangyue-img-h {
    height: 100%;
}
img.zhangyue-img-80 {
    width: 80%;
}
img.zhangyue-img-50 {
    width: 50%;
}
img.zhangyue-img-30 {
    width: 30%;
}
img.zhangyue-img-w4 {
    width: 4em;
}
img.zhangyue-img-w1 {
    width: 1em;
}
img.zhangyue-img-h3 {
    height: 3em;
    vertical-align: middle;
}
img.zhangyue-img-h2 {
    height: 1.5em;
    vertical-align: middle;
}
img.zhangyue-img-h1 {
    height: 1em;
    vertical-align: middle;
}
img.zhangyue-img-full {
    width: 100%;
}
div.zhangyue-c {
    width: 100%;
    margin: 1.3em auto;
    text-align: center;
}
div.zhangyue-c70 {
    width: 70%;
    margin: 1.3em auto;
    text-align: center;
}
div.zhangyue-c50 {
    width: 50%;
    margin: 1.3em auto;
    text-align: center;
}
div.zhangyue-c40 {
    width: 40%;
    margin: 1.3em auto;
    text-align: center;
}
div.zhangyue-c30 {
    width: 30%;
    margin: 1.3em auto;
    text-align: center;
}
div.zhangyue-float-phone-l {
    width: 50%;
    float: left;
    margin-right: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}
div.zhangyue-float-phone-r {
    width: 50%;
    float: right;
    margin-left: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}
div.zhangyue-float-phone-l40 {
    width: 40%;
    float: left;
    margin-right: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}
div.zhangyue-float-phone-r40 {
    width: 40%;
    float: right;
    margin-left: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}
div.zhangyue-float-phone-l30 {
    width: 30%;
    float: left;
    margin-right: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}
div.zhangyue-float-phone-r30 {
    width: 30%;
    float: right;
    margin-left: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}
div.zhangyue-float-phone-l15 {
    width: 15%;
    float: left;
    margin-right: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}
div.zhangyue-float-phone-r15 {
    width: 15%;
    float: right;
    margin-left: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}
div.zhangyue-zs-l {
    margin-top: 20%;
    margin-bottom: 3em;
    width: 100%;
    text-align: left;
}
div.zhangyue-zs-c {
    margin-top: 20%;
    margin-bottom: 3em;
    width: 100%;
    text-align: center;
}
div.zhangyue-zs-r {
    margin-top: 20%;
    margin-bottom: 3em;
    width: 100%;
    text-align: right;
}
div.zhangyue-full-c {
    margin: 0 0;
    text-align: center;
}
div.zhangyue-top-full-c {
    margin: 0 0 0;
    text-align: center;
}
div.zhangyue-m {
    height: 100%;
    vertical-align: middle;
}
p.table-title {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 14px;
    color: #696969;
    text-align: center;
}
p.img-note {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 14px;
    color: #696969;
    text-align: justify;
}
p.img-title {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 14px;
    color: #696969;
    text-align: left;
}
p.img-note-c {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 14px;
    color: #696969;
    text-align: center;
}
p.img-note-r {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 14px;
    color: #696969;
    text-align: right;
}
p.continued-table {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 14px;
    color: #696969;
    text-align: right;
}
p.note {
    font-family: "ZY-HEITI","方正悠黑";
    font-size: 14px;
    text-align: justify;
    color: #696969;
    text-indent: 0em;
}
table.zhangyue-tablebody {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-weight: normal;
    font-size: 14px;
    margin: 1.3em auto;
}
table.zhangyue-tablebody-none {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-weight: normal;
    font-size: 14px;
    margin: 1.3em auto;
    zy-table-across-page: none;
}
td.cellspace {
    width: 0.18em;
    font-size: 16px;
    zy-fontsize-adjust: fixed;
}
ol.zhangyue-olist1 {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    list-style-type: decimal;
    margin-left: 1em;
}
ol.zhangyue-olist2 {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    list-style-type: decimal-leading-zero;
    margin-left: 1em;
}
ol.zhangyue-olist3 {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    list-style-type: lower-alpha;
    margin-left: 1em;
}
ol.zhangyue-olist4 {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    list-style-type: upper-alpha;
    margin-left: 1em;
}
ol.zhangyue-olist5 {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    list-style-type: upper-roman;
    margin-left: 1em;
}
ul.zhangyue-ulist1 {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    list-style-type: disc;
    margin-left: 1em;
}
ul.zhangyue-ulist2 {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    list-style-type: circle;
    margin-left: 1em;
}
ul.zhangyue-ulist3 {
    font-family: "ZY-KAITI", "方正新楷体";
    font-size: 16px;
    list-style-type: square;
    margin-left: 1em;
}
div.background-img-center {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    zy-fontsize-adjust: fixed;
}
div.background-img-bottom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    zy-fontsize-adjust: fixed;
}
div.background-img-left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    zy-fontsize-adjust: fixed;
}
div.background-img-right {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    zy-fontsize-adjust: fixed;
}
div.background-img-left-bottom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    zy-fontsize-adjust: fixed;
}
div.background-img-right-bottom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    zy-fontsize-adjust: fixed;
}
div.background-color {
    background-color: #FFF5EE;
    zy-fontsize-adjust: fixed;
}
div.copyright-basemap {
    text-align: justify;
    background-image: url(../Images/copyright.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    zy-fontsize-adjust: fixed;
}
div.copyright-basemap-png {
    text-align: justify;
    background-image: url(http://book.img.ireader.com/group6/M00/0D/FA/CmQUNlvHAWqEX64uAAAAAJYc-JU469895324.png?v=83icdVHK&t=CmQUNlvHAWo.);
    background-color: #ffffff;
    background-size: 50%;
    background-position: right bottom;
    background-repeat: no-repeat;
    zy-fontsize-adjust: fixed;
}
h4.copyright-title {
    font-size: 24px;
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    line-height: 1em;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 1em;
    zy-fontsize-adjust: fixed;
}
p.copyright-text {
    font-family: "ZY-FANGSONG", "方正仿宋";
    font-weight: normal;
    text-align: justify;
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 1em;
    zy-fontsize-adjust: fixed;
}
p.copyright-text1 {
    font-family: "ZY-FANGSONG", "方正仿宋";
    font-weight: normal;
    text-align: justify;
    color: #676767;
    line-height: 1em;
    font-size: 14px;
    zy-fontsize-adjust: fixed;
}
span.zhangyue-western {
    font-family: "ZY-SERIF", "Times New Roman";
}
img.zhangyue-footnote {
    width: 0.8em;
}
img.zhangyue-footnote-s {
    height: 0.7em;
    vertical-align: bottom;
}
a.zhangyue-hyperlink {
    color: blue;
    text-decoration: underline;
}
span.bodytext-logo {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    color: #ff7575;
}
p.dropcaps-word {
    float: left;
    margin: 0;
    padding: 0 0.1em 0 0;
    line-height: 1em;
}
span.sup {
    font-size: 0.6em;
    vertical-align: top;
}
span.sub {
    font-size: 0.6em;
    vertical-align: bottom;
}
img.tpl-113-zhangyue-img-h100 {
    height: 100%;
}
div.tpl-113-zhangyue-m {
    height: 100%;
    vertical-align: middle;
}
table.tpl-113-zhangyue-tablebody {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-weight: normal;
    font-size: 14px;
    margin: 0 auto;
}
h1.tpl-113-chapter-s {
    font-family: "ZY-FANGSONG", "方正仿宋";
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    font-weight: normal;
    margin: 0 auto 0.5em 0;
    text-align: justify;
}
h1.tpl-113-chapter {
    font-family: "ZY-XIHEITI", "方正悠黑 511M";
    font-size: 28px;
    line-height: 1.2em;
    font-weight: normal;
    margin: 0.2em auto 0.2em 0;
    text-align: justify;
}
span.tpl-113-bg-1 {
    background: #e94a37;
    padding: 0.1em 0.2em;
}
div.tpl-113-bg {
    background-color: #ededed;
    zy-fontsize-adjust: fixed;
}
div.tpl-113-line {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    width: 90%;
    margin: 0.5em auto 0 0;
}
div.tpl-113-kuan {
    margin: 0 auto 10% 0;
    width: 60%;
}
td.tpl-113-tt {
    vertical-align: middle;
}
h2.tpl-152-title-1-num {
    text-align: center;
    font-size: 18px;
    line-height: 1.2em;
    font-family: "ZY-HEITI"  ,"方正悠黑";
    padding: 2.8em 0 3.4em 0;
    color: #000;
    width: 5.5em;
    margin: 20% 0 0.5em auto;
    background: url(http://book.img.ireader.com/group6/M00/0D/E6/CmQUN1vHAXGEF9jlAAAAAAZlxUc758705309.png?v=2-q4bjA7&t=CmQUN1vHAXA.);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
h2.tpl-152-title-1-r {
    font-family: "ZY-HEITI"  ,"方正悠黑";
    font-size: 24px;
    line-height: 1.2em;
    color: #000;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 2em;
    text-align: right;
}
span.line {
    border-bottom: 3px solid #000;
}
span.content-word {
    color: #e94a37;
}
div.tpl-233-box-top {
    width: 100%;
    margin: auto auto;
    text-align: center;
}
h1.tpl-233-text-title-1 {
    margin-top: 5%;
    margin-bottom: 2em;
    font-family: "ZY-XIAOBIAOSONG","方正小标宋";
    font-size: 28px;
    line-height: 1.2em;
    color: #e94a37;
    font-weight: normal;
    text-align: justify;
}
img.tpl-233-img-w-1 {
    width: 100%;
}
p.code-bodytext {
    font-family: "ZY-SANSSERIF", "Questrial";
    line-height: 1.2em;
    font-size: 16px;
    margin-top: 0em;
}
div.zhangyue-c80 {
    width: 80%;
    margin: 1.3em auto;
    text-align: center;
}
div.zhangyue-c60 {
    width: 60%;
    margin: 1.3em auto;
    text-align: center;
}
div.* {
    background-color: transparent;
}
sup.* {
    font-size: 0.6em;
    vertical-align: top;
}
sub.* {
    font-size: 0.6em;
    vertical-align: bottom;
}
rt.* {
    font-size: 0.6em;
    font-family: "ZY-SANSSERIF", "Questrial";
}